@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Телефонный справочник</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Информация</h2>
        <p>
            Телефонный справочник - это web приложение,
            позволяющее создавать пользователей, редактировать контакты
            и описание к ним.
        </p>
    </div>

    <div class="col-md-2">
        <h2>Ссылка на скачивание проекта</h2>
        <p><a class="btn btn-default" href="https://github.com/AlyaksandrMatusevich/mvc">GitHub</a></p>
    </div>
</div>
