@{
    ViewData["Title"] = "Privacy";
}
<div class="jumbotron">
    <h1>Конфиденциальность</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Для зарегистрированных пользователей</h2>
        <p>Добавление новых пользователей и номера</p>
        <p>Скачивание телефонного справочника</p>
        <p>Нельзя редактировать</p>
    </div>
    <div class="col-md-4">
        <h2>Для незарегистрированных пользователей</h2>
        <p>Просмотр пользователей и номеров</p>
        <p>Скачивание телефонного справочника</p>
        <p>Нельзя добавлять и редактировать</p>
    </div>
</div>

